.container
{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;

}
.navi-container{
  width:20%;
  height: 100vh;
  background-color:bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navi-container > ul>li{
  list-style-type: none;
}
.navi-container >ul >li >a{
  text-decoration: none;
  color: black;
}
.navi-container >ul >li>a:hover{
  background-color:chocolate;
  color: whitesmoke;
  font-size: large;

}
.content-container
{
  width:80%;
  height: 100vh;
  background-color: aqua;
}
.title-container
{
  display: flex;
  justify-content: center;
    background-color: aliceblue;
}
.create
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.card
{
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.btn
{
 margin: 10px;
  box-sizing: border-box;
}